/* Adapted: Sat Jul 31 21:17:56 2004 (Bob Heckel -- http://www.masonbook.com/book/chapter-1.mhtml) */

body
{
  font-family: Helvetica, sans-serif;
  background-color: #52aaFF;
}

.bodybox
{
  margin: 15px 10px 10px 10px;
}

.titlebox
{
  padding: 15px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  height: 75px;

  width: 95%;
  float: left;
  text-align: center;
}

.booktitle
{
  color: #3366AA;
  font-size: 25px;
  font-weight: 900;
  font-family: Verdana, Geneva, Arial, sans-serif;
  text-align: center;
}

.mainbox
{
  width: 95%;
  float: left;

  border: 1px solid #000000;
  background-color: #FFFFFF;
  margin: 15px 0px 15px 0px;
  padding: 15px;
}

.menubox
{
  width: 15%;
  float: right;

  padding: 15px;
  margin: 0px 0px 15px 15px;
  background-color: #FFFFaa;
  border: 1px solid #000000;
}

h1, h2, h3, h4, h5, h6
{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #3366FF;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

h1
{
  font-size:   2em;
  font-weight: 900;
  line-height: 32px;
}

h2
{
  font-size:   1.5em;
  font-weight: 700;
  line-height: 28px;
}

h3
{
  font-size:   1.35em;
  font-weight: 700;
  line-height: 26px;
}

h4
{
  font-size:   1.2em;
  font-weight: 600;
  line-height: 24px;
}

h4.menu { margin-top: 1.2em }

h5
{
  font-size:   1.1em;
  font-weight: 600;
  line-height: 22px;
}

h6
{
  font-size:   1em;
  font-weight: 600;
  line-height: 20px;
}

.example
{
  margin-top: 10px;
}

.example-code
{
  background-color: #DDD;
  padding: 2px 0px 2px 0px;
  border: 1px solid black;
}

